
<h1>Administracion</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
    
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Usuarios" %><br>  
    <%= f.collection_select :username, User.all, :username, :username %>

 
</div>
  <div class="field">
    <%= f.label "peliculas" %><br>
    <%= f.select :id, Film.all.collect { |film| [ film.titulo, film.id ] } %>
  </div>

  <div class="field">
    <%= f.label "Series" %><br>
    <%= f.select :id, Serie.all.collect { |serie| [ serie.titulo, serie.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit "asignar" %>
  </div>
<% end %>
